button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
.primary{
  background-color: rgb(15, 73, 140);
  color: white;
}
.secondary{
  background-color: rgb(4, 104, 115);
  color: white;
}